framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json
nuget FParsec

group test

    framework: auto-detect
    storage: none

    source https://api.nuget.org/v3/index.json

    nuget Expecto